body {
	background-color: #fff;
	margin: 0 auto;
	display: grid;
	justify-content: center;
	justify-self: center;
}

article {
	width: 1000px;

}

section {
	display: flex;
	flex-wrap: nowrap;
	border: 1px solid lightgray;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
}

.content {
	padding: 20px;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}